/*
#navegacion ul li{
    color: aliceblue;
    list-style: none;
    float: left;
    padding: 15px;
}

#navegacion ul li a{
    color: aliceblue;
}

*/

#navegacion{
    height: 50px;
}

#navegacion ul{
    list-style: none;
    text-decoration: none;
    line-height: 50px;
}

.item{
    height: 150px;
}

.img1{
    padding: 10px;
    width: 190px;
    height: 150px;
    
}
